<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="main">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <title>Bootstrap 3 Admin</title>
        <meta name="generator" content="Bootply" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{/css/ui.jqgrid-bootstrap.css}" rel="stylesheet"/>
        <link th:href="@{/css/bootstrap-datepicker.css}" rel="stylesheet"/>
        <link th:href="@{/css/styles.css}" rel="stylesheet"/>
        <link th:href="@{/css/notifIt.min.css}" rel="stylesheet"/>
        <link th:href="@{/css/tabla_css.css}" rel="stylesheet"/>
        <!--[if lt IE 9]>
                <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link href="css/styles.css" rel="stylesheet">
    </head>
    <body>
        <!-- header -->
        <div id="top-nav" class="navbar navbar-inverse navbar-static-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Dashboard</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#"><i class="glyphicon glyphicon-user"></i> Admin <span class="caret"></span></a>
                            <ul id="g-account-menu" class="dropdown-menu" role="menu">
                                <li><a href="#">Mi Perfil</a></li>
                            </ul>
                        </li>
                        <li><a href="#"><i class="glyphicon glyphicon-lock"></i> Logout</a></li>
                    </ul>
                </div>
            </div>
            <!-- /container -->
        </div>
        <!-- /Header -->

        <!-- Main -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3">
                    <!-- Left column -->
                    <a href="#"><strong><i class="glyphicon glyphicon-wrench"></i> Menu</strong></a>

                    <hr/>

                    <ul class="nav nav-stacked">
                        <li class="nav-header"> <a href="#" data-toggle="collapse" data-target="#userMenu">Opciones <i class="glyphicon glyphicon-chevron-down"></i></a>
                            <ul class="nav nav-stacked collapse in" id="userMenu">
                                <li class="active"> <a href="#"><i class="glyphicon glyphicon-home"></i> Home</a></li>
                                <li><a href="#"><i class="glyphicon glyphicon-envelope"></i> Messages <span class="badge badge-info">4</span></a></li>
                                <li><a href="#"><i class="glyphicon glyphicon-cog"></i> Options</a></li>
                                <li><a href="#"><i class="glyphicon glyphicon-comment"></i> Shoutbox</a></li>
                                <li><a href="#"><i class="glyphicon glyphicon-user"></i> Staff List</a></li>
                                <li><a href="#"><i class="glyphicon glyphicon-flag"></i> Transactions</a></li>
                                <li><a href="#"><i class="glyphicon glyphicon-exclamation-sign"></i> Rules</a></li>
                                <li><a href="#"><i class="glyphicon glyphicon-off"></i> Logout</a></li>
                            </ul>
                        </li>
                        <li class="nav-header"> <a href="#" data-toggle="collapse" data-target="#menu2"> Reportes <i class="glyphicon glyphicon-chevron-right"></i></a>

                            <ul class="nav nav-stacked collapse" id="menu2">
                                <li><a href="#">Information &amp; Stats</a>
                                </li>
                                <li><a href="#">Views</a>
                                </li>
                                <li><a href="#">Requests</a>
                                </li>
                                <li><a href="#">Timetable</a>
                                </li>
                                <li><a href="#">Alerts</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-header">
                            <a href="#" data-toggle="collapse" data-target="#menu3"> Configuracion <i class="glyphicon glyphicon-chevron-right"></i></a>
                            <ul class="nav nav-stacked collapse" id="menu3">
                                <li><a href=""><i class="glyphicon glyphicon-circle"></i> Facebook</a></li>
                                <li><a href=""><i class="glyphicon glyphicon-circle"></i> Twitter</a></li>
                            </ul>
                        </li>
                    </ul>

                    <hr/>

                    <a href="#"><strong><i class="glyphicon glyphicon-link"></i> Recursos</strong></a>

                    <hr/>

                    <ul class="nav nav-pills nav-stacked">
                        <li class="nav-header"></li>
                        <li><a href="#"><i class="glyphicon glyphicon-list"></i> Layouts &amp; Templates</a></li>
                        <li><a href="#"><i class="glyphicon glyphicon-briefcase"></i> Toolbox</a></li>
                        <li><a href="#"><i class="glyphicon glyphicon-link"></i> Widgets</a></li>
                        <li><a href="#"><i class="glyphicon glyphicon-list-alt"></i> Reports</a></li>
                        <li><a href="#"><i class="glyphicon glyphicon-book"></i> Pages</a></li>
                        <li><a href="#"><i class="glyphicon glyphicon-star"></i> Social Media</a></li>
                    </ul>

                    <hr/>
                    <ul class="nav nav-stacked">
                        <li class="active"><a href="http://bootply.com" title="The Bootstrap Playground" target="ext">Playground</a></li>
                        <li><a href="/tagged/bootstrap-3">Bootstrap 3</a></li>
                        <li><a href="/61518" title="Bootstrap 3 Panel">Panels</a></li>
                        <li><a href="/61521" title="Bootstrap 3 Icons">Glyphicons</a></li>
                        <li><a href="/62603">Layout</a></li>
                    </ul>

                    <hr/>

                    <a href="#"><strong><i class="glyphicon glyphicon-list"></i> Informacion</strong></a>

                    <hr/>

                    <ul class="nav nav-stacked">
                        <li class="active"><a rel="nofollow" href="http://goo.gl/pQoXEh" target="ext">Premium Themes</a></li>
                        <li><a rel="nofollow" href="https://wrapbootstrap.com/?ref=bootply">Wrap Bootstrap</a></li>
                        <li><a rel="nofollow" href="http://bootstrapzero.com">BootstrapZero</a></li>
                    </ul>
                </div>
                <!-- /col-3 -->
                <div class="col-sm-9">



                    <!-- column 2, cuerpo de la pagina -->
                    <ul class="list-inline pull-right">
                        <li><a href="#"><i class="glyphicon glyphicon-cog"></i></a></li>
                        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-comment"></i><span class="count">3</span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">1. Is there a way..</a></li>
                                <li><a href="#">2. Hello, admin. I would..</a></li>
                                <li><a href="#"><strong>All messages</strong></a></li>
                            </ul>
                        </li>
                        <li><a href="#"><i class="glyphicon glyphicon-user"></i></a></li>
                        <li><a title="Add Widget" data-toggle="modal" href="#addWidgetModal"><span class="glyphicon glyphicon-plus-sign"></span> Add Widget</a></li>
                    </ul>
                    <a href="#"><strong><i class="glyphicon glyphicon-dashboard"></i> Principal</strong></a>
                    <hr/>

                    <div class="row" th:include="this :: contenido">
                        <!-- center left-->

                    </div>
                    <!--/row-->

                    <hr/>


                </div>
                <!--/col-span-9-->
            </div>
        </div>
        <!-- /Main -->

        <footer class="text-center">Desarrollado por <a href="http://www.bootply.com/85850"><strong>rsanchez.com</strong></a></footer>

        <div class="modal" id="addWidgetModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">Add Widget</h4>
                    </div>
                    <div class="modal-body">
                        <p>Add a widget stuff here..</p>
                    </div>
                    <div class="modal-footer">
                        <a href="#" data-dismiss="modal" class="btn">Close</a>
                        <a href="#" class="btn btn-primary">Save changes</a>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dalog -->
        </div>
        <!-- /.modal -->
        <!-- script references -->
        <script th:src="@{/js/jquery-3.2.1.min.js}"></script>
        <script th:src="@{/js/bootstrap.min.js}" ></script>
        <script th:src="@{/js/grid.locale-es.js}" ></script>
        <script th:src="@{/js/jquery.jqGrid.min.js}"></script>
        <script th:src="@{/js/bootstrap-datepicker.js}"></script>
        <script th:src="@{/js/bootstrap3-typeahead.js}"></script>
        <script th:src="@{/js/jquery.jqGrid.min.js}"></script>
        <script th:src="@{/js/scripts.js}"></script>
        <script th:src="@{/js/notifIt.min.js}"></script>
    </body>
</html>